<!-- This is /budgets -->
<!DOCTYPE html>
<html>
    <%
    var add = 0;
    for (var i = 0; i< budgets.length; i++)
    {
      add += parseInt(budgets[i].amount)
    }
    console.log( "Bank Account Total: $", add);
    %>

    <% function bankAccount(){ %>
        <% if (add < 0) { %>
            <style>body {background-color: rgb(255, 210, 210);}</style>
        <% } else { %>
            <style>body {background-color: rgb(204, 253, 204);}</style>
    <%    }}
    
    bankAccount();
    %>
    <%- include("./partials/head.ejs") %>
    <link rel="stylesheet" href="/public/normalize.css">
    <link rel="stylesheet" href="/public/skeleton.css">
    <body>
        <div class="container">
        <h1>Budgtr ALL</h1>
        <br><a href="/budgets/new"><button>Create New Item</button></a>
        <br><br><b>Bank Account Total: $<%= add %></b><br><br>
        <% for(let i = 0; i < allBudgets.length; i++) { %>
        <table>
<tr>
<td><%=allBudgets[i].date %></td>
<td><a href="/budgets/<%= i %>"><%=allBudgets[i].name %></a></td>

<td><%=allBudgets[i].amount %></td>

                <% } %>
</tr>
        </table>
    </div>
    </body>
</html>